<form class="{{actor.type}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="statistics">Statistics</a>
  </nav>
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="statistics">
      {{> "systems/celesia/templates/actor/parts/actor-statistics.html"}}
    </div>
    <div class="">
    </div>
  </section>
</form>