<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    
  </header>
  <section class="sheet-body">
    {{#each system.abilities as |ability key|}}
    <div class="ability flexrow flex-group-center">
      <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
      <label class="resource-label rollable flexlarge align-left" data-label="{{ability.value}}">{{ability.value}}</label>
      <label>(</label>
      <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
      <label>)</label>
      <label>=</label>
      <input type="text" name="system.abilities.{{key}}.base" value="{{ability.base}}" data-dtype="Number"/>
      <label>+</label>
      <input type="text" name="system.abilities.{{key}}.lvlup" value="{{ability.lvlup}}" data-dtype="Number"/>
      <label>-</label>
      <input type="text" name="system.abilities.{{key}}.dmg" value="{{ability.dmg}}" data-dtype="Number"/>
      <label>-</label>
      <input type="text" name="system.abilities.{{key}}.drain" value="{{ability.drain}}" data-dtype="Number"/>
      <label>-</label>
      <input type="text" name="system.abilities.{{key}}.penalty" value="{{ability.penalty}}" data-dtype="Number"/>
    </div>
    {{/each}}
  </section>
</form>